[submodule "protoToOpenAPISchema"]
	path = protoToOpenAPISchema
	url = https://github.com/openbase/protoToOpenAPISchema.git
[submodule "type"]
	path = type
	url = https://github.com/openbase/type.git
